body,html {
	height: 100%;
}

.background {
	background-image: url(country.jpg);
	background-size: cover;
	height: 100%;
}


nav {
	font-weight: bolder;
}

.btn {
	background-color: #AFEF27;
}

.container {
	display: flex;
	justify-content: center;
	align-items:center;
	height: 100%;
}

.okvir {
	background-color: #0A4600;
	padding: 20px;
	border-radius: 40px;
	border:2px solid black;
	color: white;
	font-size: 20px;
	font-weight: bolder;
	font-family: 'Oswald', sans-serif;
	
}


big {
	
	border:2px solid;
	padding: 20px;
}

